
*{
    font-family: "Ubuntu", "Times New Roman", Times, Arial, sans-serif, serif;
}

body{
    background-color: lightgrey;
}

.recipepic{
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainbody{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;

    background-color: lightblue;
}

.mainbody > * {
    background-color: lightblue;
}

/*h1,h2,h3{
    font-family: "Times New Roman", Times, Arial, sans-serif, serif;
}*/

footer{
    text-align: center;
}

h1{
    text-align: center;
}
